<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/favicon.png" sizes="32x32">
    <title>FakePay</title>
    <link rel="stylesheet" href="/static/css/transaction.css">
</head>
<body>
    <!-- Interface -->
    <div class="fakePay">
        <h1>Fake Pay API</h1>
        <p>Brought to you to test the logic of a Payment Gate</p>
        <div id="fakePay-submit">Pay €{{.Amount}}</div>
    </div>

    <!-- Load Script -->
    <script src="/transaction/js/{{.ID}}"></script>
</body>
</html>
